<h2>Поширення COVID-19 в Україні</h2>
<div class="map-wrapper">

    <agm-map [fullscreenControl]="true"
         (mapClick)="onMapClick($event)"
         [maxZoom]="10"
         [zoom]="5"
         [latitude]="lat" 
         [longitude]="lng">

        <ng-container *ngFor="let marker of markers">

            <agm-marker (markerClick)="onMarkerClick($event, window)" [iconUrl]="marker.icon" [latitude]="marker.lat" [longitude]="marker.lng">
                <agm-info-window #window>
                    <div class="info-wraper">
                        <div class="region-name">{{marker.title}}</div>
                        <div class="cases-counter">захворювань: {{marker.cases}}</div>
                        <div *ngIf="marker.deaths" class="death-counter">загинуло: {{marker.deaths}}</div>
                    </div>
                </agm-info-window>
            </agm-marker>

        </ng-container>

    </agm-map>

    <div class="map-description">
        <img src="assets/icons/circle-orange.png" alt="" class="src"><div>- регіон де виявили захворювання на короновірус</div>
        <img src="assets/icons/circle-red.png" alt="" class="src"><div>- більше 20 випадків</div>
        <img src="assets/icons/circle-purple.png" alt="" class="src"><div>- більше 100 випадків</div>
        <img src="assets/icons/diamond-orange.png" alt="" class="src"><div>- ромбом відмічаются регіони зі смертельними випадками</div>
    </div>
    <div class="general-info">
        <div style="color: #aaa;">Усього випадків виявлено: {{ casesAll }}</div>
        <div style="color: #696969;">Усього загинуло: {{ deathsAll }}</div>
    </div>
</div>


